<header>
  <h2 style="text-align: center;">{{title}}</h2>
</header>
<nav class="navbar navbar-expand-sm navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
    <li class="nav-item">
      <a routerLink="calender" class="nav-link" routerLinkActive="active">BirthDay Reminder</a>
  </li>
  </ul>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div class="container">
      <span>All Rights Reserved 2020 @SecureGlobal</span>
  </div>
</footer>